:root {
  --color-white: #fff;
  --color-primary: #203e86;
  --color-secondary: #c2f8fa;
  --color-secondary-lighter-opacity: #c2f8fa80;
  --color-secondary-darker: #00D3FF;
  --color-secondary-darker-opacity: #00D3FF50;
  --color-tertiary: #222c37;
  --color-tertiary-opacity: #222c3760;
/* 
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px gray;
  background-color: white;
  /* height: 70px; */
  position: fixed;
  width: 100%;
  padding: 10px 0;
  top: 0;
  z-index: 1000;
}
a {
  text-decoration: none;
}
::marker {
  font-size: 20px;
}
.brand,
.items {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.nav-logo {
  height: 50px;
}
.nav-brand,
.nav-items {
  text-decoration: none;
  color: var(--color-primary);
}
.nav-brand {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
}
.nav-items {
  display: flex;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
.nav-items > li > a {
  color: var(--color-primary);
  text-decoration: none;
  padding: 0 20px;
}
.nav-items > li > .signup {
  background-color: var(--color-primary);
  border-radius: 0 0 5px 5px;
  color: var(--color-white);
  padding: 10px;
}
.hero {
  margin-top: 120px;
  margin-bottom: 40px;
}
.hero--box {
  background-color: var(--color-secondary);
  margin: 0 auto;
  width: 700px;
  height: 400px;
  padding: 20px;
  border-radius: 4px;
}
.hero--content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
.hero--heading,
.hero--text {
  display: flex;
  width: 300px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero--heading {
  color: var(--color-primary);
  line-height: 2rem;
}
.hero--text {
  line-height: 1.7rem;
  color: var(--color-tertiary);
  font-size: 18px;
}
.bg--card--1, .bg--card--2, .bg--card--3{
  color: white;
  border-radius: 10px;
  width: fit-content;
  height: 250px;
}
.bg--card--1{
  background-color: var(--color-primary);
}
.bg--card--2{
  background-color: var(--color-secondary-darker);
}
.bg--card--3{
  background-color: var(--color-tertiary);
}
 .bg--pry,
.bg--tert {
  color: var(--color-white);
  border-radius: 4px;
  display: flex;
  width: fit-content;
  font-weight: bold;
  margin: 10px 10px 0 10px;
  padding: 10px;
  text-decoration: none;
  justify-content: center;
  align-self: center;
}
.bg--pry {
  background-color: var(--color-primary);
}
.download--buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.download {
  background-color: var(--color-tertiary);
  color: var(--color-white);
  border: none;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  width: 150px;
  justify-content: center;
  cursor: pointer;
}
.store--icon {
  height: 30px;
  margin: 5px;
}
.get--on {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.store {
  font-size: 18px;
  font-weight: bold;
}
.section--2--header,
.section--2--text {
  color: var(--color-primary);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.section--2--text {
  opacity: 0.7;
}
.section--2--header > h3 {
  width: 500px;
}
.section--2--text > h3 {
  width: 600px;
  justify-content: center;
  display: flex;
  align-self: center;
}
.carousel{
  display: flex;
  overflow-x: scroll;
}
.card {
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: 30px;
  border-radius: 8px;
  padding: 20px;
  justify-content: space-between;
}
h3.card--text{
  margin-right: 30px;
}
.card--text--div {
  text-align: left;
  width: 230px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.card--icon--div {
  text-align: right;
}
.card--icon {
  height: 150px;
}
.section--2--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-tertiary);
  margin-top: 40px;
}
.arrow--right {
  height: 20px;
  margin: 0 10px;
}
.section--3,
.section--5 {
  align-items: center;
  text-align: center;
  padding: 20px 0;
}
.bg--sec {
  background-color: var(--color-secondary);
  width: 100%;
} 
.icon {
  height: 100px;
  margin: 20px 0;
}
.section--3--title,
.section--4--title,
.section--5--title {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 20px;
}
.section--3--content,
.section--4--content {
  margin: 30px 0 40px 0;
}
.content--head {
  margin: 10px;
  color: var(--color-primary);
  font-weight: 600;
}
.content--text {
  margin: 15px 30px 60px 30px;
  color: var(--color-tertiary);
  font-weight: 500;
  font-size: 16px;
}
.section--4 {
  text-align: center;
}
.content--head--tert {
  color: var(--color-tertiary);
  list-style: square;
  font-size: 20px;
  font-weight: bold;
}
.bg--tert {
  background-color: var(--color-tertiary);
  text-align: center;
  padding: 15px 50px;
  margin-bottom: 50px;
}
.bg-tert {
  display: flex;
  justify-content: center;
  align-self: center;
}
.bg-tert-left {
  margin: 30px 0 0 140px;
}
.section--5--title,
.section--5--content {
  display: flex;
  margin: 10px 200px 0 150px;
  text-align: left;
}
.section--5--content {
  color: var(--color-tertiary);
  flex-direction: column;
}
.section--5--head {
  list-style: square;
  font-weight: 700;
  font-size: 20px;
  margin: 15px 0 0 0;
  color: var(--color-tertiary);
}
.section--5--text {
  font-size: 17px;
  font-weight: 400;
  padding: 5px 0;
}
.box {
  display: flex;
  justify-content: space-evenly;
}
.left--box,
.right--box {
  border: 0px solid gray;
  width: 350px;
  box-shadow: 1px 1px 5px 0.1px lightgrey;
  border-radius: 4px;
  padding: 20px;
}
.section--6--div {
  display: flex;
}
.rating {
  align-items: center;
  justify-content: center;
}
.star {
  height: 20px;
}
.small--number,
.review {
  font-size: 12px;
  font-weight: lighter;
  color: var(--color-tertiary);
}
.review {
  padding: 5px 0;
}
.big--number,
.available,
.download--now {
  color: var(--color-primary);
  padding: 5px 0;
}
.big--number {
  padding: 0 5px;
}
h3.available {
  text-align: left;
}
.review--div {
  display: flex;
  flex-direction: column;
}
.align--center {
  /* display: flex; */
  align-items: center;
}
.section--7 {
  display: flex;
}
.section--7--image {
  width: 50%;
}
.lady--image {
  width: 50vw;
}
.section--7--text {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}
.section--7--review,
.section--7--reviewer,
.read--more {
  width: 25vw;
  line-height: 1.8em;
}
h3.read--more,
h3.section--7--reviewer {
  text-align: left;
  align-items: center;
  display: flex;
  padding: 2em 0 0 0;
}
.section--7--reviewer{
  color: var(--color-primary);
}
.dash{
  width: 20px;
  display: flex;
  margin-right: 20px;
}
.section--8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.section--8--text {
  width: 50%;
  padding-top: 10px;
}
.section--8--head {
  padding: 30px;
}
.section--create,
.section--download {
  padding: 18px;
}
.subscribe--form {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  height: 180px;
  width: 100%;

}
.signup--text {
  width: 180px;
  line-height: 1.5em;
  font-size: 20px;
  color: var(--color-white);
}
.email--form {
  width: 500px;
  position: relative;
}
.email {
  margin: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 25px;
  width: 100%;
  outline: none;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
}
.white--button {
  margin: 10px 7px 0 0;
  position: absolute;
  padding: 0 10px;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  border: none;
  top: -3px;
  height: 40px;
  cursor: pointer;
  color: var(--color-tertiary);
  background-color: var(--color-white);
}
.email::placeholder {
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}
.section--9--rile{
  display: flex;
  margin: 30px 100px 30px 30px;
  justify-content: space-between;
}
.section--9--rile, .section--9--center{
  font-size: 20px;
}
.section--9--center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-bottom: 0;
}
.list--head > a, .item--link > a{
  color: var(--color-tertiary);
}

.list--head, .item--link {
  padding-bottom: 20px;
  list-style: none;
}
.list--head {
  font-weight: bold;
  margin-top: 50px;
}
.contact--icons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contact--icon{
  width: 40px;
}
.footer{
  margin: 30px;
}
.footer--text{
  padding-top: 40px;
  font-weight: 600;
}
.copyright{
  padding-top: 20px;
  font-weight: 400;
  font-size: 15px;
}
.copyright a {
  color: #203e86;
}

/* Signup Page */
.brand--center, .form--text, .form--head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand--center{
  margin: 40px;
}
.form--head, .form--text{
  margin: 10px;
  padding: 5px;
}
.signup--form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  height: fit-content;
  color: white;
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 20px;
}
.form--head--div{
  padding: 20px 0;
}
.form--text{
  color: rgba(255, 255, 255, 0.7);
}
.form--details{
  padding: 0 30px;
}
.input-n-label:not(.submit){
  display: flex;
  flex-direction: column;
}
.input-n-label label{
  font-weight: 600;
  margin-bottom: 10px;
}
.input-n-label input:not(.submit), .input-n-label select{
  height: 35px;
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 600;
}
.input-n-label option{
  color: var(--color-primary);
}
.input-n-label input:focus{
  border: none;
  outline: 2px solid white;
}
.submit{
  align-self: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
  color: var(--color-primary);
  background-color: var(--color-white);
  margin: 20px 0;
}
.submit:hover{
  background-color: var(--color-primary);
  color: var(--color-white);
  outline: 2px solid white;
}
.form--text{
  text-align: center;
  font-size: 14px;
}
.form--footer, .forgot--password{
  display: flex;
  justify-content: center;
  margin: 30px;
}
.form--footer--link{
  margin: 0 8px;
  font-weight: 600;
  color: var(--color-primary);
}

/* Dashboard */
.account--overview{
  text-transform: uppercase;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.profile--picture{
  border-radius: 50%;
  height: 40px;
}
.add--money{
  display: flex;
  justify-content: space-between;
}
.add--money--button{
  display: flex;
  align-items: center;
  justify-content: center;

}
.dashboard--total{
  margin-bottom: 10px;
}
.amount{
  display: flex;
  align-items: center;
}
.currency{
  font-size: 12px;
  font-weight: bold;
}
.kobo{
  font-size: 10px;
  font-weight: lighter;
}
.totals{
  display: flex;
  justify-content: space-between;
}
.card--1, .card--3, .card--2{
  display: flex;
  color: white;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 220px;
  height: 100px;
}
.card--1{
  background-color: var(--color-primary);
}
.card--2{
  background-color: var(--color-secondary-darker);
}
.card--3{
  background-color: var(--color-tertiary);
}
.dashboard--topnav .dashboard--nav{
  display: flex;
}
.dashboard--topnav .dashboard--nav .bar{
  background-color: black;
}
.dashboard--main{
  margin: 100px 20px 0 20px;
}
h3.head{
  opacity: 60%;
  margin-top: 30px;
}
.dashboard--main .card--div{
  display: flex;
  justify-content: space-between;
}
.dashboard--main .card{
  background-color: var(--color-white);
  height: 180px;
  padding: 40px;
  margin: 0;
  box-shadow: 1px 1px 5px 0 lightgray;
}
.dashboard--main .card--image, .sidenav--icon{
  width: 50px;
}
.card{
  display: flex;
  justify-content: space-between;
}
.plan{
  color: var(--color-primary);
}
.dashboard--main .head{
  margin: 50px 0 20px 0;
}
.dashboard--main .refer--box{
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 20px;
  color: var(--color-white);
}
.referral--bonus{
  margin-top: 10px;
}
.referral--text{
  margin-top: 20px;
  opacity: 70%;
}
.radio--item{
  margin: 20px 0;
}
.radio--item label{
  margin-left: 20px;
}
.dashboard--main .download--buttons{
  align-items: left;
  justify-content: flex-start;
}
.dashboard--main .download{
  margin: 0 25px 50px 0;
}
.dashboard--sidenav {
  /* display: none; */
  height: 100%;
  width: 220px;
  left: -220px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 0 20px;
}
.dashboard--sidenav.active{
  /* display: flex; */
  left: 0;
}
.opacity{
  opacity: 50%;
}
.dashboard--sidenav .brand{
  padding: 10px 0;
  top: 0;
}
.hi{
  opacity: 60%;
}
.dashboard--sidenav .username{
  padding-left: 20px;
}
.naira--icon{
  width: 15px;
}
.sidenav--icon{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.sidenav--ul{
  width: 100%;
  padding-right: 20px;
}
.sidenav--li{
  list-style: none;
  width: 100%;
}
.sidenav--link{
  color: var(--color-tertiary);
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
}
.current--li, .sidenav--link:hover{
  background-color: #203e8620;
  color: #203e86;
  border-radius: 5px;
}


.toggle--nav{
  display: none;
  justify-content: space-between;
  width: 40px;
  flex-direction: column;
  background-color: white;
  height: 22px;
}
.toggle--nav .bar{
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.space-between{
  margin: 0;
}

/* Plans page */
.plans--main{
  margin-top: 100px;
}
.plans--div{
  display: flex;
  padding: 10px;
}

.plan--link{
  color: var(--color-tertiary-opacity);
  margin: 10px;
}
.current, .plan--link:hover{
  text-decoration: underline;
  text-underline-offset: 13px;
  text-decoration-thickness: 2px;
  color: var(--color-primary);
}
.plans--cards{
  display: flex;
  margin: 40px 20px;
  justify-content: space-between;
  /* padding: 20px; */
}
.plan--card{
  border-radius: 10px;
  width: 400px;
  display: flex;
  height: 180px;
}
.new--plan--div{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  margin-right: 10px;
}
.new--plan{
  flex-direction: column;
  align-items: center;
  display: flex;
  color: var(--color-tertiary);
}
.small--icon{
  width: 20px;
}
.plus{
  margin: 10px;
}
.active--plan{
  background-color: var(--color-secondary-lighter-opacity);
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-between;
}
.plan--type{
  background-color: var(--color-secondary-darker-opacity);
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 10px auto;
  padding: 2px 10px;
}
.plan--details{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.plan--card--hr{
  margin: 10px 0;
}
.align--center{
  display: flex;
}
.kobo{
  margin-top: 4px;
}
.plan--amount{
  align-items: center;
}
.interest--rate{
  text-align: right;
}
/* Responsiveness */
@media(max-width: 900px){
  body{
    font-size: 80%;
  }
  .section--9--rile, .section--9--center{
    font-size: 15px;
  }
  .copyright{
    font-size: 12px;
  }
  .bg-tert-left {
    margin: 30px 0 0 20px;
  }
  .section--5--title,
  .section--5--content {
    display: flex;
    margin: 10px 50px 0 30px;
    text-align: left;
  }
}
@media (max-width: 780px){
  .toggle--nav{
    display: flex;
    margin-right: 20px;
  }
  .items{
    display: none;
  }
  .items.active{
    display: flex;
  }
  .nav-items li{
    margin: 8px 0;
  }
  .space-between{
    margin-right: 20px;
    width: 100%;
    justify-content: space-between;
  }
  .nav-items{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar{
    flex-direction: column;
  }
  .horizontal-line{
    width: 100%;
    display: none;
  }
  .show{
    display: block;
    margin-top: 10px;
  }
  .kobo{
    font-size: 65%;
  }
  .bg-tert-left {
    margin: 30px 0 0 15px;
  }
  .section--5--title,
  .section--5--content {
    display: flex;
    margin: 10px 40px 0 30px;
    text-align: left;
  }
}
@media (max-width: 600px){
  body{
    font-size: 65%;
  }
  .section--9--rile, .section--9--center{
    font-size: 12px;
  }
  .bg-tert-left {
    margin: 30px 0 0 140px;
  }
  .section--5--title,
  .section--5--content {
    display: flex;
    margin: 10px 20px 0 15px;
    text-align: left;
  }
  .copyright{
    font-size: 10px;
  }
  .kobo{
    font-size: 65%;
  }
}